<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Archivo para Corvivienda</title>
</head>
<body>
    <h1>Subir Archivo para Corvivienda</h1>
    <form action="/corvivienda/procesar" method="post" enctype="multipart/form-data">
        <input type="file" name="archivo">
        <button type="submit">Procesar Archivo para Corvivienda</button>
    </form>
</body>
</html>